{% extends "app/layout.html" %}

{% block content %}
<!--
<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>
-->
<h1>{{ country.country_name }}</h1>
{% csrf_token %}
<div class="row">
{% for shop in country.shop_set.all %}
    <!--<li><a href="#">{{ shop.shop_name }}</a></li>-->

        <div class="col-md-4 col-sm-6" style="background-color:yellow; text-align: center; ">
            <div style="background-color:red; box-shadow: 0px 0px 20px #888888;">
            <h2>{{ shop.shop_name }}</h2>
            <p>
                TESTOWY OPIS
            </p>
            <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">TESTOWY PRZYCISK &raquo;</a></p>
            </div>
        </div>
 
{% endfor %}
       </div>
{% endblock %}
